.logo{
	display: flex;
}
#title{
	 color: #FFFFEE;

}


	.logo img {
		
		display: block; 
		margin: 0em 1em 0em 1.5em;
		
		  object-fit: cover;
	  border-radius: 30px;   
	    
	  max-width: 50px;
	  max-height: 50px; 
	  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
	}
	

	  
	.top{
		background-color: olivedrab;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		
			
	}
	