.logo{
	display: flex;
}



	.logo img {
		
		display: block; 
		margin: 0em 1em 0em 1.5em;
		
		  object-fit: cover;
	  border-radius: 30px;   
	    
	  max-width: 50px;
	  max-height: 50px; 
	}
	

	  
	.top{
		background-color: olivedrab;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		
			
	}
	